@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1759830336727') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dingwei:before {
  content: "\e61a";
}

.icon-qiehuan:before {
  content: "\e8a8";
}

.icon-fanhui:before {
  content: "\e507";
}

.icon-bangzhuyushuoming:before {
  content: "\e70f";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-yonghu:before {
  content: "\e701";
}

.icon-bilichi:before {
  content: "\e607";
}

